@import 'reset';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

:root {
  font-size: calc(100 / 460 * 1dvw);

  @media (min-width: 1600rem) {
    font-size: calc(100 / 2048 * 1dvw);
  }
}

html,
body {
  pointer-events: none;
  font-size: 16rem;
}
